ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

ul li {
  padding-right: 30px;
}

footer .fa {
  font-size: 25px;
  color: #333;
}

.fa:hover {
  filter: brightness(75%);
}

img {
  width: 30px;
}